<cdk-virtual-scroll-viewport class="example-viewport" [itemSize]="0" [ngStyle]="{height: height + 'px'}" #container>
  <div *cdkVirtualFor="let item of items" class="example-item">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img loading="lazy" alt="some doge" mat-card-sm-image src="//material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        #{{item}}
      </mat-card-content>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>

<button (click)="loadMore(this.itemSize)">Load more</button>
